# Python
__pycache__/
*.py[cod]
.venv/

# Node
node_modules/
.expo/

# Env files
.env
frontend/.env
backend/.env
frontend/ google-services.json
backend/ google-services.json
frontend/package.json
frontend/package-lock.json
# OS
.DS_Store
Thumbs.db
ProblemStatementAndData
frontend/package-lock.json
frontend/package.json