# Python
__pycache__/
*.py[cod]
.venv/

# Node
node_modules/
.expo/

# Env files
.env
frontend/.env
backend/.env
frontend/ google-services.json
backend/ google-services.json

# OS
.DS_Store
Thumbs.db
ProblemStatementAndData
frontend/package.json
frontend/package-lock.json



# Python
backend/.venv/
__pycache__/

# Uploads (VERY IMPORTANT)
backend/app/uploads/

# Large geospatial files
*.tif

# ML models
*.pt
*.pth
*.h5
